﻿@model MvcMicroBlog.Models.Article

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<article>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Content)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Content)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ViewCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ViewCount)
    </div>
    <p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id })
    @Html.ActionLink("Back to List", "Index")
</p>

    </article>
