﻿@model IEnumerable<MvcMicroBlog.Models.Article>

@{
    ViewBag.Title = "Article";
}

<h2>Article</h2>

<p class="create-btn">
    @Html.ActionLink("+ Create New", "Create")
</p>


@foreach (var item in Model)
{
    <article>
        <h1>Title : @Html.DisplayFor(modelItem => item.Title)</h1>

        <h3>Content :</h3>
        <p>@Html.DisplayFor(modelItem => item.Content)</p>

        <strong>ViewCount :</strong> @Html.DisplayFor(modelItem => item.ViewCount)

        <p>@Html.ActionLink("Edit", "Edit", new { id = item.Id })
        @Html.ActionLink("Details", "Details", new { id = item.Id })
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })</p>
    </article>
}


