﻿h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}
h2 {
    text-align: center;
    border-top: solid 3px #333;
    border-bottom: solid 3px #333;
    background-color:#e21f3b;
    color:white;
    padding: 10px;
    
}
a {
    text-decoration: none;
    padding: 5px 15px;
    margin-right: 10px;
    color: black;
    border-radius: 5px;
    background-color: #bce6ee;
    border: solid 1px #7ed6ef;
    box-shadow: 0 0 5px 1px #aaa;
}
    a:hover {
        background-color: #bceec5;
    }

article {
    width: 90%;
    max-width: 990px;
    padding: 20px;
    margin: 20px auto 0 auto;
    border: solid 1px #333;
    border-radius: 10px;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.create-btn {
    text-align: right;    
}
.create-btn a{
    font-size: larger;
     background-color: #fafad2;
    border: solid 1px #dadb7d;
    margin-right: 4%;

    
}
fieldset {
    max-width: 990px;
    margin: 20px auto 20px auto;
    border-radius: 10px;
}
.editor-label, .editor-field {
    display: inline-block;
    height: 50px;
}
.editor-label {
    width: 20%;
    text-align:right;
}
.editor-label:after {
    content: " :";
}
.editor-field {
    width: 70%;
}
input, textarea {
    width: 95%;
    border: solid 1px #333;
    border-radius:5px;
    height:50px;
}
textarea {
    height: 300px;
}
    input[type="submit"] {
        display:block;
        width: 200px;
        border: solid 1px #75db83;
        background-color: #bceec5;
        padding:7px 15px;
        margin:auto;
        border-radius:5px;

    }
.display-label {
    font-weight: 900;
    margin: 10px 0 10px 0;

}